* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    color: #333;
    font-size: 62.5%;
}

.main {
    background-color: rgb(239, 242, 243);
    min-height: 100vh;
    display: flex;
    justify-content: center;
}

.form {
    width: 400px;
    min-height: 100px;
    padding: 32px 24px;
    text-align: center;
    background: #b0f1ca;
    border-radius: 2px;
    margin: 24px;
    align-self: center; 
    box-shadow: 0 2px 5px 0 rgba(5, 0, 0, 0.1);
}

.form .heading {
    font-size: 2rem;
    margin-bottom: 15px;
}

.form-group {
    display: flex;
    margin-bottom: 16px;
    flex-direction: row;
    align-items: center;
    text-align: center;
    justify-content: space-around;
}


.form-label {
    font-weight: 700;
    line-height: 35px;
    font-size: 1.4rem;
    width: 70px;
}

.form-control {
    height: 25px;
    padding: 8px 12px;
    border: 1px solid #b3b3b3;
    border-radius: 3px;
    outline: none;
    font-size: 1.4rem;
}

.btn {
    outline: none;
    padding: 5px 12px;
    font-weight: 600;
    font-size: 1.4rem;
    border-radius: 5px;
    border: 1px solid black;
    cursor: pointer;
    min-width: 80px;
}

.btn + .btn {
    margin-left: 10px;
}
